body {
	font-family: Comic Sans MS; 
	width: 80%;
	margin: 0 auto;
	background-color: pink;
	background-image: url("https://cdn.discordapp.com/emojis/488056254623907840.gif?v=1");
}

img {

	size: 100px;
}

header {
	margin: 20px;
	padding-left: 20px;
	background-color: #F50707;
	font-size: 25px; 

}
footer {
	font-family: verdana; 
	background-color: #f0f050

}
ul {
	background-color: hotpink; 
	width: 1000px;
    border: 25px solid red;
    padding: 25px;
    margin: 25px;

}

li {
		text-shadow: 100px;
		border: 50px;
}
.rotate {
	transform: rotate(180deg);
}

html {
	background-image: C:\Users\Sem40\OneDrive\Documenten\schoolwerk\leerjaar 1\keuzedeel\samenwerken_swv\images/angrycog.gif;
}