body {
	font-family: arial;
	width: 80%;
	margin: 0 auto;
	background-image: url("C:/Users/andy3/OneDrive/Documenten/School_Documenten/periode_1/Software Verdieping/samenwerken_swv/images/BLELELE.gif");
	background-color: #445412;
	border: 5px solid black;
	box-shadow: 5px 5px 5px blue;
}
.rotate {
	transform: rotate(180deg);
}

header {
	background: hotpink;
}

main {
	background: teal;
	transform: rotate(10deg);
}

footer {
	background: #b5e6b5;
	padding: 100px;
}

.CatRotate {
	transform: rotate(180deg);
}

img {
	width: 450px;
	height: 450px;
}